.studio {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
}

.studio__hero {
  position: relative;
  width: 100vw;
  padding: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.studio__hero-title {
  font-size: clamp(8rem, 20vw, 30vw);
  position: relative;
  line-height: 0.8;
}

.studio__hero-image {
  position: relative;
  width: calc(100vw - 3rem);
  margin: 0 auto 0 auto;
}

.studio__hero-image-wrapper {
  position: relative;
  transform: translateY(-22%);
  margin-bottom: 5.5rem;
}

.studio__header {
  width: 100%;
  padding: 1.5rem 1.5rem 10rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.studio__header-copy {
  margin-top: 10rem;
  width: 80%;
}

.studio__header-copy .line {
  font-size: clamp(1.6rem, 2.5vw, 3rem);
  line-height: 1.25;
  letter-spacing: -0.01rem;
  text-wrap: balance;
  max-width: 100%;
  word-wrap: break-word;
  hyphens: auto;
}

.studio__mission {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 1.5rem;
  background-color: var(--foreground);
  color: var(--background);
  display: flex;
  align-items: center;
  gap: 3rem;
}

.studio__mission-col--sm {
  flex: 2;
}
.studio__mission-col--lg {
  flex: 4;
}

.studio__mission-copy {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 600px;
}

.studio__mission-copy .line {
  font-size: clamp(1.4rem, 2vw, 1.9rem);
  line-height: 1.5;
  max-width: 100%;
  word-wrap: break-word;
  hyphens: auto;
}

.studio__mission-link {
  margin-top: 4.5rem;
}

.studio__recognition {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 1.5rem;
  background-color: var(--background);
  color: var(--foreground);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.studio__recognition-copy {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 800px;
}

.studio__recognition-copy .line {
  font-size: clamp(1.4rem, 2.3vw, 2rem);
  line-height: 1.4;
  max-width: 100%;
  word-wrap: break-word;
  hyphens: auto;
}

.recognition-copy p {
  color: var(--foreground-200);
}

.char {
  display: inline-block;
  letter-spacing: 0;
}

.char-mask {
  overflow: hidden;
  display: inline-block;
}

@media (max-width: 1000px) {
  .studio__hero {
    padding: 7.5rem 1.5rem 1.5rem 1.5rem;
  }

  .studio__hero-title {
    font-size: clamp(4rem, 15vw, 8rem);
  }

  .studio__header-copy,
  .studio__mission-copy,
  .studio__recognition-copy {
    width: 100%;
    max-width: none;
  }

  .studio__header-copy .line {
    font-size: clamp(1.35rem, 4vw, 2.1rem);
    line-height: 1.25;
  }

  .studio__mission-col--sm {
    display: none;
  }

  .studio__mission {
    min-height: 100svh;
    height: 100%;
    padding: 3rem 1.5rem;
  }

  .studio__mission-copy .line {
    font-size: clamp(1.25rem, 4.2vw, 1.7rem);
    line-height: 1.4;
  }

  .studio__recognition-copy .line {
    font-size: clamp(1.25rem, 4.3vw, 1.7rem);
    line-height: 1.3;
  }
}

@media (max-width: 600px) {
  .studio-hero {
    padding: 5rem 1rem 1rem 1rem;
  }

  .studio-header {
    padding: 1rem 1rem 5rem 1rem;
  }

  .studio-header-copy {
    margin-top: 5rem;
  }

  .mission-intro {
    padding: 2rem 1rem;
  }

  .mission-link {
    margin-top: 3rem;
  }
}
