.footer {
  position: relative;
  width: 100vw;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  background-color: var(--background);
  color: var(--foreground);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

.footer__links,
.footer__copy {
  display: flex;
  gap: 3rem;
  align-items: flex-end;
}

.footer__links-col-lg,
.footer__copy-col-lg {
  flex: 2;
}

.footer__links-col-sm,
.footer__copy-col-sm {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer__links-col-sm {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: space-between;
}

.footer__links-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__links-header {
  margin-bottom: 0.5rem;
  color: var(--foreground-200);
}

.fs-header {
  margin-bottom: 1.5rem;
  color: var(--foreground-200);
}

.footer a {
  color: var(--foreground);
  transition: all 0.3s ease;
  position: relative;
  opacity: 0.7;
}

.footer a:hover {
  opacity: 1;
  transform: translateY(-2px);
  color: var(--foreground);
}

.footer__copy .sm.caps a.sm.caps {
  font: inherit;
  letter-spacing: inherit;
}

.footer__text {
  overflow: hidden;
}

.footer__text-content {
  display: inline-block;
}

.footer-text {
  overflow: hidden;
}

.footer-text-content {
  display: inline-block;
}

@media (max-width: 1000px) {
  .footer__links-col-lg {
    display: none;
  }

  .footer__links,
  .footer__copy {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .footer__links-col-sm {
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
  }
}
